*{
    box-sizing: border-box;
}
.landingPage{
    width: 100;
    height: calc(100vh - 50px);
    display: flex;
    /* padding: 20px; */
    /* background-color: burlywood; */
    

}
.landingPage__left{
    flex: 3.5;
    background-color: rgb(191, 210, 219);
    display: flex;
    flex-direction: column;
}
.landLeft__top{
    flex: 2.5;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}
.landLeft__bottom{
    flex: 7.5;
    /* background-color: blue; */
}
.landing__text{
    font-size: 30px;
    font-weight: bold;
    color: rgb(1, 1, 12);
    text-align: center;
}
.landingPage__right{
    flex: 6.5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.landingPage__rightBox{
    padding: 1rem 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.landingPage__a {
    background: linear-gradient(to right, rgb(228, 140, 25) , rgb(76, 153, 140));
    width: 200px;
    height: 150px;
    padding: .5rem;
    display: flex;
    border-radius: 1rem;
    margin: 10px;
    cursor: pointer;
}
.landing__img{
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}